<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Debug"
            id="com.github.syuchan1005.mcplugindebugger">
      </category>
      <view
            name="MCDebugConsole"
            inject="true"
            icon="icons/sample.png"
            category="com.github.syuchan1005.mcplugindebugger"
            class="com.github.syuchan1005.mcplugindebugger.views.DebugConsoleViewFactory"
            id="com.github.syuchan1005.mcplugindebugger.views.DebugConsoleViewFactory">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.github.syuchan1005.mcplugindebugger.views.DebugConsoleViewFactory">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
